<%- include('../partials/user/header') %>


        <main class="main">
            <div class="intro-slider-container">
                <div class="intro-slider owl-carousel owl-simple owl-nav-inside owl-light" data-toggle="owl" data-owl-options='{"nav":false, "dots": false, "loop": false}'>
                    <div class="intro-slide" style="background-image: url(assets/images/demos/demo-15/slider/slide-1.jpg);">
                        <div class="container intro-content text-center">
                            <h3 class="intro-subtitle"></h3><!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title text-white"></h1><!-- End .intro-title -->

                            <!-- <a href="#scroll-to-content" class="btn btn-outline-primary-2 scroll-to">
                                <span>Start scrolling</span>
                                <i class="icon-long-arrow-down"></i>
                            </a> -->
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->
                </div><!-- End .intro-slider owl-carousel owl-simple -->

                <span class="slider-loader text-white"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->

            <%if(locals.mobile.length >= 3){%>
            
            <div class="display-row" id="scroll-to-content">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-6 order-lg-last">
                            <div class="banner banner-overlay">
                                <a href="/productView?id=<%=mobile[0]._id%>">
                                    <img src="uploads/<%=mobile[0].productimages[0]%>" alt="Banner">
                                </a>

                                <div class="banner-content men">
                                    <h2 class="banner-title text-white"><%=mobile[0].productname%></h2><!-- End .banner-title -->
                                    <h3 class="banner-subtitle text-brightblack">Mobile Phone</h3><!-- End .banner-subtitle -->

                                    <ul class="text-white">
                                        <%=mobile[0].productdescription%>
                                    </ul>

                                    <div class="banner-text text-brightblack">₹<%=mobile[0].productprice%></div><!-- End .banner-text -->
                                    <a href="/addToCart?id=<%=mobile[0]._id%>" class="btn btn-outline-primary-2"><span>ADD TO CART</span><i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-6 -->

                        <div class="col-lg-6">
                            <div class="heading text-center">
                                <h2 class="title">MOBILE PHONES</h2><!-- End .title text-center -->
                                <p class="title-desc"></p><!-- End .title-desc -->
                            </div><!-- End .heading -->

                            <div class="row">
                                <div class="col-lg-8 offset-lg-2">
                                    <div class="row">
                                        <%for(let i=1;i<3;i++){%>
                                        <div class="col-6">
                                            <div class="product product-4">
                                                <figure class="product-media">
                                                    <a href="/productView?id=<%=mobile[i]._id%>">
                                                        <img src="uploads/<%=mobile[i].productimages[0]%>" alt="Product image" class="product-image">
                                                    </a>

                                                    <!-- <div class="product-action-vertical">
                                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                    </div> -->

                                                    <div class="product-action">
                                                        <a href="/addToCart?id=<%=mobile[i]._id%>" class="btn-product btn-cart"><span>add to cart</span></a>
                                                    </div><!-- End .product-action -->
                                                </figure><!-- End .product-media -->

                                                <div class="product-body">
                                                    <h3 class="product-title"><a href="/productView?id=<%=mobile[i]._id%>"><%=mobile[i].productname%></a></h3><!-- End .product-title -->
                                                    <div class="product-price">
                                                        <span class="new-price">₹<%=mobile[i].productprice%>.00</span>
                                                        <!-- <span class="old-price">Was $1,400.00</span> -->
                                                    </div><!-- End .product-price -->
                                                </div><!-- End .product-body -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 -->
                                        <%}%>
                                    </div><!-- End .row -->
                                </div><!-- End .col-lg-8 offset-lg-2 -->
                            </div><!-- End .row -->
                        </div><!-- End .col-lg-6 -->
                    </div><!-- End .row -->
                </div><!-- End .container-fluid -->
            </div><!-- End .display-row -->
            <%}%>

            <%if(locals.tablets.length >= 3){%>
            <div class="display-row">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="banner banner-light banner-overlay">
                                <a href="/productView?id=<%=tablets[0]._id%>">
                                    <img src="uploads/<%=tablets[0].productimages[0]%>" alt="Banner">
                                </a>
            
                                <div class="banner-content women">
                                    <h2 class="banner-title"><%=tablets[0].productname%></h2><!-- End .banner-title -->
                                    <h3 class="banner-subtitle text-darkblack">Tablets</h3><!-- End .banner-subtitle -->
            
                                    <ul>
                                        <%=tablets[0].productdescription%>
                                    </ul>
            
                                    <div class="banner-text text-darkblack">₹<%=tablets[0].productprice%></div><!-- End .banner-text -->
                                    <a href="/addToCart?id=<%=tablets[0]._id%>" class="btn btn-outline-primary-2"><span>ADD TO CART</span><i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-6 -->
            
                        <div class="col-lg-6">
                            <div class="heading text-center">
                                <h2 class="title">TABLETS</h2><!-- End .title text-center -->
                                <p class="title-desc"></p><!-- End .title-desc -->
                            </div><!-- End .heading -->
            
                            <div class="row">
                                <div class="col-lg-8 offset-lg-2">
                                    <div class="row">
                                        <%for(let i=1;i<3;i++){%>
                                        <div class="col-6">
                                            <div class="product product-4">
                                                <figure class="product-media">
                                                    <a href="/productView?id=<%=tablets[i]._id%>">
                                                        <img src="uploads/<%=tablets[i].productimages[0]%>" alt="Product image" class="product-image">
                                                    </a>
            
                                                    <!-- <div class="product-action-vertical">
                                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                    </div> -->
            
                                                    <div class="product-action">
                                                        <a href="/addToCart?id=<%=tablets[0]._id%>" class="btn-product btn-cart"><span>add to cart</span></a>
                                                    </div><!-- End .product-action -->
                                                </figure><!-- End .product-media -->
            
                                                <div class="product-body">
                                                    <h3 class="product-title"><a href="/productView?id=<%=tablets[i]._id%>"><%=tablets[i].productname%></a></h3><!-- End .product-title -->
                                                    <div class="product-price">
                                                        <span class="new-price">₹<%=tablets[i].productprice%>.00</span>
                                                    </div><!-- End .product-price -->
                                                </div><!-- End .product-body -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 -->
                                        <%}%>
                                    </div><!-- End .row -->
                                </div><!-- End .col-lg-8 offset-lg-2 -->
                            </div><!-- End .row -->
                        </div><!-- End .col-lg-6 -->
                    </div><!-- End .row -->
                </div><!-- End .container-fluid -->
            </div><!-- End .display-row -->
            <%}%>
        </main><!-- End .main -->

        <%- include('../partials/user/footer') -%>
        